@model crud.Models.Article

<div class="btn-group">
    <form method="get" action="/Article/Edit/@Model.Id">
        @*@Html.ActionLink("Editar", "Edit", "Article", new { id = Model.Id }, new { @class = "btn btn-success btn-sm", data_toggle = "modal" })*@
        <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal">Editar</button>
    </form>
    <!-- Button trigger modal 'Details' -->
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_details_@{@Model.Id}">Detalles</button>
    <!-- Button trigger modal 'Delete' -->
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}">Eliminar</button>
</div>

@Html.Partial("_Details", Model)
@Html.Partial("_Delete", Model)