@model crud.Models.Article

<form method="get" action="/Article/Edit/@Model.Id">
    @*@Html.ActionLink("Editar", "Edit", "Article", new { id = Model.Id }, new { @class = "btn btn-success btn-sm", data_toggle = "modal" })*@
    <button type="submit" class="btn btn-success btn-sm" data-toggle="modal">Editar</button>
    @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</form>

