@model crud.Models.Article

@*@using (Html.BeginForm(null, null, FormMethod.Get, new { @action = "/Article/Edit/" + Model.Id }))
{
    <button type="submit" class="btn btn-primary btn-sm px-3" data-toggle="modal">Editar</button>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_details_@{@Model.Id}">Detalles</button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}">Eliminar</button>

}*@
    <div class="btn-group">
        @using (Html.BeginForm("Edit", "Article", FormMethod.Get, null))
        {
            <button type="submit" class="btn btn-sm btn-primary rounded" name="id" value="@Model.Id"><span class="fa fa-pencil"></span></button>
        }
        <button type="button" class="btn btn-sm btn-success rounded mx-2" data-toggle="modal" data-target="#modal_details_@{@Model.Id}" ><span class="fa fa-eye"></span></button>
        <button type="button" class="btn btn-sm btn-danger rounded" data-toggle="modal" data-target="#modal_delete_@{@Model.Id}"><span class="fa fa-trash"></span></button>
    </div>

@Html.Partial("_Details", Model)
@Html.Partial("_Delete", Model)