/*
    log - notes
    1. si le aplico tamaño al 'canvas#chart-categories' y la prop. 'responsive:true' en el custom.js ahí el chart se hace responsivo, sino no
    
    2. si ajusto el ancho en unidades 'vw' en el 'chart-container' automaticamente el chart se ajusta al ancho de la pantalla, o sea, se hace responsivo
    automaticamente. al parecer no hace falta que esten seteadas las propiedades 'responsive, & maintainAspectRatio' en el chart-custom.js. anda bien
    ya con la configuracion por defecto.

    3. con esta configuracion (css+html) el 'chart-container' es el que define el tamaño tanto del elem. canvas como el del card-body, a este último no se
        le debe definir la altura ya que sino el grafico se muestra con overflow  
*/

div.card-chart {
    /*height: 60vh;*/ /*hace que el 'div.card-body' tenga efecto overflow sobre el card */
}

.card-body {
    margin: auto;
    padding: 0;
}

.chart-container {
    height: 400px;
    padding: 5px;
    position: relative;
    margin: auto; /* centra el grafico */
    /*margin: 0 auto;*/
}

canvas {
}

@media (max-width: 359px) {
    .chart-container {
        width: 80vw;
    }
}

@media (min-width: 360px) and (max-width: 575px) {
    .chart-container {
        width: 330px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    canvas#chart-categories {
        height: 100% !important;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .chart-container {
    }
}

@media (min-width:767px) {
    .chart-container {
        width: 400px;
        min-height: 400px;
    }
}
