@if (TempData["AlertMessage"] != null)
{
    <div class="@TempData["AlertStyle"]" role="alert">
        <p>@TempData["AlertMessage"]</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}