@model string

<div class="modal fade" id="popupNotify" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-success">
            <div class="modal-body text-white">
                @Model
            </div>
        </div>
    </div>
</div>