@using crud.Models;

@{
    ViewBag.Title = "Gráficos de datos";
}

@Styles.Render("~/bundles/chartjs-custom-css")

<h3>Reportes</h3>
<p>Lista de reportes</p>
<br />

<div class="">
    <div class="card card-chart">
        <div class="card-header">
            Estadísticas
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="chart-categories"></canvas>
            </div>
        </div>
    </div>
</div>

@*hacer otro chart para Articles aquí, luego ocultarlo con hidden*@

@section Scripts {
    @Scripts.Render("~/bundles/chartjs-categories")
}
